* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  font-size: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.wrapper {
  margin: auto;
  width: 77%;
  max-width: 980px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 5.244rem;
}

h2, p, .optionsPic, .separator {
  width: 70%;
  margin: auto;
}

h2 {
  color: #323232;
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

p {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: 1rem;
  text-align: justify;
}

.violetBar {
  background: url("../images/violetBar.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 150px;
  box-shadow: inset 0 10% 0 rgba(0, 0, 0, 0.03);
}

.violetBttn {
  width: 180px;
  height: 60px;
  border: 2px solid #69157a;
  margin: auto;
  color: #69157a;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  background-color: white;
  position: relative;
  outline: none;
}
.violetBttn:hover {
  background-color: #f2f2f2;
}
.violetBttn:active {
  top: 1px;
  left: 1px;
}

header {
  background: url("../images/mainPic.jpg") no-repeat center center;
  background-size: cover;
}
header .wrapper {
  margin-top: 50px;
  height: 80vh;
  min-height: 150px;
  max-height: 1320px;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.98);
}
.navbar .container-fluid {
  width: 80%;
  float: left;
}
.navbar input {
  display: inline-block;
  float: right;
}

.nav li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.nav li:nth-of-type(1) > a {
  color: #60206d;
}

.navbar-brand img {
  height: 30px;
  width: auto;
  margin-left: 10px;
  margin-top: -5px;
}

main {
  position: relative;
}

.reservationPane {
  width: 100%;
  position: absolute;
  top: -70px;
}
.reservationPane > div {
  width: 80%;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.7);
  min-height: 100px;
  margin: auto;
  background-color: #500e5e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.optionsPic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.optionsPic > a:nth-of-type(2) > img, .optionsPic > a:nth-of-type(3) > img {
  margin-left: 50px;
}
.optionsPic > a > img {
  width: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: all .5s ease-in-out;
}
.optionsPic > a > img:hover {
  transform: scale(1.1);
}
.optionsPic > a > img:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.optionsPic > a > img:nth-of-type(2) {
  padding-left: 40px;
  border: 1px solid red;
}

.destinations {
  margin-bottom: 120px;
}

#destinationsGallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#destinationsGallery figure {
  margin-bottom: 100px;
  cursor: pointer;
  position: relative;
}
#destinationsGallery figure:nth-of-type(3n+2), #destinationsGallery figure:nth-of-type(3n+3) {
  margin-left: 90px;
}
#destinationsGallery figure img {
  width: 210px;
  margin: auto;
}
#destinationsGallery figure > img:nth-of-type(2) {
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  max-height: 150px;
}
#destinationsGallery figcaption {
  font-weight: 800;
  text-align: center;
  color: #585858;
  text-transform: uppercase;
}

#popUpWind {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  visibility: hidden;
}

#cityInfoCard {
  width: 90%;
  height: 70%;
  background: #ebebeb;
  margin: auto;
  position: relative;
  top: 20px;
  padding: 15px;
  display: flex;
  align-items: stretch;
}

#closeModalXBttn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #500e5e;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  color: white;
  top: -25px;
  right: -25px;
  cursor: pointer;
}

#cityPicture, #cityDescr {
  flex-basis: 50%;
  height: 100%;
}

#cityPicture {
  background: pink;
}

#cityDescr {
  background: white;
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#cityDescr h3 {
  color: black;
  font-size: 3.2rem;
  font-family: "Playfair Display", serif;
  margin-top: 0px;
  text-align: left;
  flex-grow: 0;
  flex-shrink: 0;
}
#cityDescr p {
  color: #787878;
  text-align: left;
  margin: 20px 0 40px 0;
  line-height: 200%;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
#cityDescr button {
  width: 160px;
  height: 50px;
  border: 1.5px solid #69157a;
  color: #69157a;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  background-color: white;
  outline: none;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
}
#cityDescr button:hover {
  background-color: #f2f2f2;
}
#cityDescr button:active {
  box-shadow: inset 2px 2px 5px rgba(100, 100, 100, 0.6), 2px 2px 5px rgba(100, 100, 100, 0.6);
}

.separator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.separator span {
  font-size: 40px;
  color: #69157a;
  padding-left: 20px;
  padding-right: 20px;
}
.separator .separatorLine {
  border-bottom: 2px solid #69157a;
  height: 1px;
  flex-basis: 40%;
}

.slider {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.slider > div {
  display: inline-block;
  position: relative;
}
.slider > div img {
  width: 100%;
}
.slider > div:nth-of-type(2) {
  flex-basis: 30%;
  box-shadow: 0 0 40px rgba(100, 100, 100, 0.6);
  z-index: 5;
}
.slider > div:nth-of-type(1), .slider > div:nth-of-type(3) {
  flex-basis: 40%;
  border: solid white;
}
.slider > div:nth-of-type(1) {
  border-width: 40px 40px 40px 0;
}
.slider > div:nth-of-type(3) {
  border-width: 40px 0 40px 40px;
}

#caption {
  position: absolute;
  bottom: 0;
  padding: 40px;
  width: 100%;
}
#caption img {
  width: 30%;
  margin: auto;
  position: relative;
  top: 60px;
}
#caption #txtFrame {
  background-color: white;
  padding: 40px 20px 10px 20px;
}
#caption #txtFrame p {
  max-height: 4.5em;
  width: 100%;
  overflow: hidden;
}
#caption #txtFrame p:nth-of-type(2) {
  text-align: center;
}

.quoteMark {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  line-height: 2.5rem;
  padding-top: 20px;
  display: block;
  color: #787878;
}
.quoteMark:nth-of-type(1) {
  text-align: left;
}
.quoteMark:nth-of-type(3) {
  text-align: right;
}

.customersSay .wrapper:nth-of-type(3) {
  margin-top: 80px;
  margin-bottom: 100px;
}
.customersSay .wrapper:nth-of-type(3) .quoteMark {
  font-size: 5.4rem;
  color: #69157a;
  text-align: center;
}
.customersSay .wrapper:nth-of-type(3) h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  color: #9f9e9e;
  text-align: center;
  padding-bottom: 100px;
}

footer > .violetBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .violetBar img {
  height: 40%;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
