$hFont: 'Playfair Display', serif;
$pFont: 'Open Sans', sans-serif;
$robotoFont: 'Roboto', sans-serif;

$mainTextColor: #323232;
$captionTxt: #585858;

$violetItems: #69157a;

$baseFontSize: 14;
@function fontSize($itemSize) {
  @return (($itemSize/$baseFontSize)*1.4)+rem; //original (from psd) base paragraph font was 10px. To be more user friendly, it was changed to 14px (40%);
}


*{
  box-sizing: border-box;
}

html {
  font-size: $baseFontSize+px;
}
body {
  font-family: $pFont;
  color: $mainTextColor;
  font-size: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.wrapper {
  margin: auto;
  width: 77%;    //2240/2900
  max-width: 980px;
}

h1 {
  font-family: $hFont;
  color: white;
  font-size: fontSize(52.44);
}

%wrapperContent {
  width: 70%;
  margin: auto;
}

h2 {
  color: $mainTextColor;
  font-family: $hFont;
  font-size: fontSize(32);
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  @extend %wrapperContent;
}

p{
  color: $mainTextColor;
  font-family: $pFont;
  font-weight: light;
  font-size: fontSize(10);
  text-align: justify;
  @extend %wrapperContent;
}

.violetBar {
  background: url('../images/violetBar.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 150px;
  box-shadow: inset 0 10% 0 rgba(0,0,0, .03);
}

.violetBttn {
  width: 180px;
  height: 60px;
  border: 2px solid $violetItems;
  margin: auto;
  color: $violetItems;
  font-size: fontSize(10);
  font-weight: 700;
  display: block;
  background-color: white;
  position: relative;
  outline: none;
  &:hover {
    background-color: #f2f2f2;
  }
  &:active {
    top: 1px;
    left: 1px;
  }
}

// -------------------  HEADER ----------------
//-----section------
header {
  background: url('../images/mainPic.jpg') no-repeat center center;
  background-size: cover;
  .wrapper {
    margin-top: 50px;
    height: 80vh;
    min-height: 150px;
    max-height: 1320px;
    display: flex;
    align-items: center; 
  }
}

.navbar {
  background-color: rgba(255,255,255,.98);
  .container-fluid {
  width: 80%;
  float: left;
  }
  input {
    display: inline-block;
    float: right;
  }
}

.nav {
  li {
    font-family: $robotoFont;
    font-weight: 400;
    &:nth-of-type(1)>a {
      color: #60206d;
    }  
  }
}

.navbar-brand {
  img {
    height: 30px;
    width: auto;
    margin-left: 10px;
    margin-top: -5px;
  }
}

// -------------------- MAIN ----------------
main {
  position: relative; 
}

.reservationPane {
    width: 100%;
    position: absolute;
    top: -70px;
    >div {
      width: 80%;
      box-shadow: 5px 5px 50px rgba(0,0,0,.7);
      min-height: 100px;
      margin: auto;
      background-color: #500e5e;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }


.optionsPic {
  @extend %wrapperContent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  >a {
    &:nth-of-type(2)>img, &:nth-of-type(3)>img {
      margin-left: 50px;
    }

  >img {
      width: 100px;
      margin-top: 60px;
      margin-bottom: 100px;
      transition: all .5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &:active{
        position: relative;
        top: 1px;
        left: 1px;
      }
      &:nth-of-type(2) {
        padding-left:40px;
        border: 1px solid red;
      }
    }  
  }
}

.destinations {
  margin-bottom: 120px;
}

.destinationsGallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  figure {
    margin-bottom: 100px;
    cursor: pointer;
    position: relative;
    &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
    margin-left: 90px;
    } 
    img {
      width: 210px;
      margin: auto;
    }
    >img:nth-of-type(2) {
      z-index: 999;
      position: absolute;
      top: 30px;
      left: 30px;
      width: 150px;
      max-height: 150px;
    }
  }
  
  figcaption {
      font-weight: 800;
      text-align: center;
      color: $captionTxt;
    }
}

.cityDescrScreen {
  display: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.separator {
  @extend %wrapperContent;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  span {
    font-size: 40px;
    color: $violetItems;
    padding-left: 20px;
    padding-right: 20px;
  }
  .separatorLine {
    border-bottom: 2px solid $violetItems;
    height: 1px;
    flex-basis: 40%;
  }
}

.slider{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  >div {
    display: inline-block;
    position: relative;
    img{
      width: 100%;
    }
  }
  >div:nth-of-type(2) {
    flex-basis: 30%;
    box-shadow: 0 0 40px rgba(100,100,100,.6);
    z-index: 5;
  }
  >div:nth-of-type(1), >div:nth-of-type(3) {
    flex-basis: 40%;
    border: solid white;
  } 
  >div:nth-of-type(1) {
    border-width: 40px 40px 40px 0;
  }
  >div:nth-of-type(3) {
    border-width: 40px 0 40px 40px;
  }
}

#caption {
  position: absolute;
  bottom: 0;
  padding: 40px;
  width: 100%;
  img {
    width: 30%;
    margin: auto;
    position: relative;
    top: 60px;
  }
  #txtFrame{
    background-color: white;
    padding: 40px 20px 10px 20px;
    p {
      max-height: 4.5em;
      width: 100%;
      overflow: hidden; //if overlow will be put on div it will ignore bottom pdding!
      &:nth-of-type(2) {
        text-align: center;
      }
    }
  }
}

.quoteMark{
  font-family: $hFont;
  font-size: fontSize(32);
  line-height: 2.5rem;
  padding-top: 20px;
  display: block;
  color: #787878;
  &:nth-of-type(1){
    text-align: left;
    
  }
  &:nth-of-type(3){
    text-align: right;
  }
}

.customersSay {
  .wrapper:nth-of-type(3) {
    margin-top: 80px;
    margin-bottom: 100px;
    .quoteMark {
      font-size: fontSize(54);
      color: $violetItems;
      text-align: center;
    }
    h3{
      font-family: $hFont;
      font-size: fontSize(36);
      color: #9f9e9e;
      text-align: center;
      padding-bottom: 100px;
    }
  }
}


// -------------------- FOOTER ----------------
footer {
  >.violetBar{
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 40%;
    width: auto;
    }
  }
}