* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  font-size: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.wrapper {
  margin: auto;
  width: 77%;
  max-width: 980px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 5.244rem;
}

h2, p, .optionsPic, .separator {
  width: 70%;
  margin: auto;
}

h2 {
  color: #323232;
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

p {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: 1rem;
  text-align: justify;
}

.violetBar {
  background: url("../images/violetBar.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 150px;
  box-shadow: inset 0 10% 0 rgba(0, 0, 0, 0.03);
}

.violetBttn {
  width: 180px;
  height: 60px;
  border: 2px solid #69157a;
  margin: auto;
  color: #69157a;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  background-color: white;
  position: relative;
  outline: none;
}
.violetBttn:hover {
  background-color: #f2f2f2;
}
.violetBttn:active {
  top: 1px;
  left: 1px;
}

header {
  background: url("../images/mainPic.jpg") no-repeat center center;
  background-size: cover;
}
header .wrapper {
  margin-top: 50px;
  height: 80vh;
  min-height: 150px;
  max-height: 1320px;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.98);
}
.navbar input {
  display: inline-block;
  float: right;
}

main {
  position: relative;
}

.reservationPane {
  width: 100%;
  position: absolute;
  top: -70px;
}
.reservationPane > div {
  width: 80%;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.7);
  min-height: 100px;
  margin: auto;
  background-color: #500e5e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.optionsPic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.optionsPic > a:nth-of-type(2) > img, .optionsPic > a:nth-of-type(3) > img {
  margin-left: 50px;
}
.optionsPic > a > img {
  width: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: all .5s ease-in-out;
}
.optionsPic > a > img:hover {
  transform: scale(1.1);
}
.optionsPic > a > img:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.optionsPic > a > img:nth-of-type(2) {
  padding-left: 40px;
  border: 1px solid red;
}

.destinations {
  margin-bottom: 120px;
}

.destinationsGallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.destinationsGallery img {
  width: 210px;
  margin: auto;
}
.destinationsGallery figure {
  margin-bottom: 100px;
  cursor: pointer;
}
.destinationsGallery figure:nth-of-type(3n+2), .destinationsGallery figure:nth-of-type(3n+3) {
  margin-left: 90px;
}
.destinationsGallery figcaption {
  font-weight: 800;
  text-align: center;
  color: #585858;
}

.cityDescrScreen {
  display: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.separator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.separator span {
  font-size: 40px;
  color: #69157a;
  padding-left: 20px;
  padding-right: 20px;
}
.separator .separatorLine {
  border-bottom: 2px solid #69157a;
  height: 1px;
  flex-basis: 40%;
}

footer > .violetBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .violetBar img {
  height: 40%;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
