$hFont: 'Playfair Display', serif;
$pFont: 'Open Sans', sans-serif;
$robotoFont: 'Roboto', sans-serif;

$mainTextColor: #323232;

*{
  box-sizing: border-box;
}

body {
  background-color: red;
  font-family: $pFont;
  color: $mainTextColor;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.wrapper {
  width: 77%;    //2240/2900
}

h1 {
  font-family: $hFont;
  color: white;
}

h2 {
  color: $mainTextColor;
  font-family: $hFont;
}